.DS_Store
.context/
.conductor/*
!.conductor/settings.toml
.eslintcache
.playwright-mcp/
.idea
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
dist
dist-ssr
src/routeTree.gen.ts
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
